@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2 style="margin-top:100px">View Roles of Users...</h2>

@Html.ActionLink("Create New Role", "Create", "RolesAdmin", new { @class = "btn btn-primary" })
<hr />

<table class="table-striped">
    <tr>
        <th>
            Existing Roles in the system
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
        </tr>
    }
</table>

<div class="panel panel-info">
    <div class="panel panel-heading">
        Search user
    </div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm("ManageUserRoles", "RolesAdmin"))
                {
                    <div class="form-group">
                        @Html.TextBox("UserName")
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Search" />
                    </div>
                }
            </div>
            <div class="col-md-6">
                @Html.ActionLink("List all Users", "ListOfUsers", "RolesAdmin", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
</div>